@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.text-color-green {
  color: green;
}

.wysiwyg-color-red {
  color: red;
}
.wysiwyg-color-blue {
  color: blue;
}

.tox-statusbar__branding {
  display: none;
}

.hideColumn {
  display: none;
}
.narrowColumn {
  width: 33px;
  max-width: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.centeredHeader {
  padding-left: 2.2rem !important;
}
